<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title></title>
  </head>
  <header>rock, paper, scissors!
  </header>
  <body>
    <%= yield %>
    <nav>
      <a href="/">Home</a>
    </nav>
  </body>
</html>
